name: Preview

on:
  push:
    branches:
      - main

jobs:
  preview:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          lfs: true

      - name: Restore
        uses: ./.github/actions/restore

      - name: Audit
        continue-on-error: true
        run: pnpm audit

      - name: Format
        run: pnpm format:check

      - name: Lint
        run: pnpm lint

      - name: Typecheck
        run: pnpm typecheck

      - name: Test
        run: pnpm test:coverage

      - name: Build
        run: pnpm build

      - name: Deploy
        env:
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
        run: >
          pnpm wrangler pages deploy
          --branch main
          --commit-hash ${GITHUB_SHA}
          --commit-message "[${GITHUB_SHA::7}] ${{ github.event.head_commit.message }}"

      - name: End-to-End
        uses: ./.github/actions/e2e
        env:
          BASE_URL: https://preview.rvt.app

      - name: Codecov test results
        uses: codecov/test-results-action@0fa95f0e1eeaafde2c782583b36b28ad0d8c77d3 # v1
        with:
          files: ./junit.xml,./junit.e2e.xml
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Codecov coverage
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5
        with:
          files: ./reports/coverage/cobertura-coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}
